name: e2e
on:
  push:
  pull_request:
env:
  ESMETA_HOME: ${{ github.workspace }}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
        cache: sbt

    - name: Setup SBT
      uses: sbt/setup-sbt@v1

    - name: Run e2e tests
      run: |
        sbt assembly
        cd $ESMETA_HOME/client
        npm ci
        npx playwright install chromium --with-deps
        npx playwright test --project=chromium

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: $ESMETA_HOME/client/playwright-report/
        retention-days: 30

    - name: Report Status
      if: failure()
      uses: 8398a7/action-slack@v3
      with:
        status: ${{ job.status }}
        fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
